@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --color1: #000022;
    --color2: #040F16;
    --color3: #0094C6;
    --color4: #005E7C;
    --color5: #F7F5FB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color3);

    margin-top: 20px;
}

#calc{
    background-color: var(--color1);
    color: var(--color5);
    padding: .7em;

    border-radius: 10px;

    max-width: 400px;
}

#calc h1{
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

#buttons-operation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#previous-value{
    margin-top: -20px;
    min-height: 1.6em;
    overflow-wrap: break-word;
    padding: .2em;
    text-align: end;
    color: rgb(178, 178, 178);
}

#painel{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background-color: var(--color4);
    color: white;
    font-size: 3.5em;
    height: 70px;
    margin: 10px 5px;
}

button{
    background-color: var(--color4);
    color: var(--color5);

    padding: 30px;

    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;

    border: none;
}

button:hover{
    background-color: var(--color2);
}

.igual{
    grid-column: span 2; background-color: var(--color3);
}

@media (max-width: 500px) {
    #calc{
        transform: scale(0.9);

        margin-top: -30px;
    }
}

@media (max-width: 400px) {
    #calc{
        margin-top: -30px;
    }

    button{
        padding: 20px;
    }
}

@media (max-width: 350px) {
    button{
        padding: 15px;
    }
}

@media (max-width: 300px) {
    button{
        padding: 15px 10px;
    }
}

@media (max-width: 250px) {
    #calc{
        transform: scale(0.7);

        margin-top: -80px;
    }
    button{
        padding: 20px 10px;
    }
}

@media (max-width: 200px) {
    #calc{
        transform: scale(0.6);

        margin-top: -110px;
    }
    button{
        padding: 20px 10px;
    }
}